*{
    margin: 0;
    padding: 0;
}
h1{
    text-align: center;
    padding: 20px;
    margin-top: 10px;
}
table{
margin: 0 auto;
}
tr, td, th{
    border: solid black .2px;
}
th, td{
    padding: 10px;
}